.container01 {
    border: 1px solid #000;
    width: 100%;
    height: 80px;
    display: flex;
}
.container02 {
    border: 1px solid #000;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
}
.container03 {
    border: 1px solid #000;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
}
.container04 {
    border: 1px solid #000;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column-reverse;
}
.box01 {
    background-color: blueviolet;
}
.box02{
    background-color: cornflowerblue;
}
.box03 {
    background-color: crimson;
}
div {
    height: 50px;
    width: 50px;
    margin: 5px;    
}