h1 {
    text-align: center;
}
.container {
    background-color: rgba(100,0,0,0.2);
    display: flex;
}
.container02 {
    margin-top: 10px;
    height: 400px;
    background-color: rgba(0,100,100, 0.3);
}
.item {
    padding: 20px;
    margin: 10px;
    width: 200px;
    color: #fff;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    font-weight: bold;
}
.red {
    background-color: rgba(255,0,0,0.5);
}
.green {
    background-color: rgba(0,255,0,0.5);
}
.blue {
    background-color: rgba(0,0,255,0.5);
}