* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    border: 1px solid #000;
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.box01 {
    background-color: blueviolet;
}
.box02{
    background-color: cornflowerblue;
    flex-grow: 3;
}
.box03 {
    background-color: crimson;
}
div {
    height: 50px;
    width: 150px;
}